/*STYLESHEET FOR PINPOINT*/

.card-panel {
	background-color: #007aff;
}

.description {
	font-size: 14pt;
}

.divider {
	background-color: #fff;
	border-top: 2px dotted #8c8b8b;
}

#footerul, .subtitle, .caption {
	text-align: center;
}
#footerul a {
	color: #007aff;
}
#footerul li {
	display: inline;
	padding: 10px;
}

/* changes height of first head section 
#head {
	height: 70px;
	margin-bottom: 35px;
}

/*changes the default navbar link color*/
.link {
	color: black;
	line-height: inherit;
}

/*sets width and margin of logo in navbar*/
.logoImg {
	width: 25px;
	margin-left: 40px;
	vertical-align: initial;
}

/* Positions mainlogo img */
#mainLogo {
	position: absolute;
	left: 35%;
	top: 43%;
	transform: translate(-36%, -50%);
	height: 12em;
}

/* Settings to optimize for mobile */
@media screen and (max-width: 768px) {
	/*adjust image size for mobile*/
	#mainLogo {
		height: 10em;
		left: 10%;
	}
}

nav, .link {
	height: 50px;
}

.profpic {
	height: 200px;
	border: solid 3px #007aff;
	border-radius: 50%;
	margin: 30px;
}

.subtitle {
	margin-top: 75vh;
	margin-bottom: 40px;
}

#welcome-screenshot {
	height: 500px;
}



/*pin color: #007aff