/*STYLESHEET FOR PINPOINT*/

.boldText {
	font-weight: bold;
}

/*Changes color of Materialize card panel*/
.card-panel {
	background-color: #007aff;
}

/* Styling for all descriptions */
.description {
	font-size: 14pt;
}

/*Style for the footer*/
#footer {
	height: 100px;
	margin-top: 10px;
	background-color: #eceff1;
}
#footerul {
	margin-bottom: 0;
}
#footerul a {
	color: #007aff;
}
#footerul li {
	display: inline;
	padding-right: 20px;
}
#footerul p {
	margin-bottom: 0;
}
#footerul, .subtitle, .caption {
	text-align: center;
}

/*changes the default navbar link color*/
.link {
	color: black;
}

/*sets width and margin of logo in navbar*/
.logoImg {
	width: 30px;
	margin-left: 40px;
	vertical-align: initial;
}

/* Default size of main logo */
#mainLogo {
	height: 12em;
}

/* Positions mainlogo and screenshot imgs in div */
#mainLogo, .screenImg {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* Centers the div containing mainLogo*/
#mainlogo-div {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

nav, .link {
	height: 50px;
	line-height: 53px;
}

.notesImg {
	width: 100%;
}

/* Styles the team photos*/
.profpic {
	max-width: 100%;
	padding-right: 10px;
	border-radius: 50%;
}

.screenImg {
	max-width: 250px;
}

/*positions header subtitles*/
.subtitle {
	margin-top: 75vh;
	margin-bottom: 70px;
}

#team {
	margin-bottom: 20px;
	max-width: 100%;
}

/* Styles all of the section titles*/
.title-text {
	border-bottom: solid 4px;
	border-color: #007aff;
}

/* Settings to optimize for mobile */
@media screen and (max-width: 768px) {
	/*adjust image size for mobile*/
	#mainLogo {
		height: 10em;

	}
}
@media only screen and (min-width: 601px) {
	nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
		height: 50px;
		line-height: 50px;
	}
}
